.hero-section {
    max-width: 1200px;
    margin: 3em auto;
    padding: 0 40px;
    display: flex;
}


.hero-section h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 20px;
  max-width: 420px;
  margin-bottom: 2em;
}

.hero-btn {
  display: flex;
  gap: 12px;
}

.btn-commencer,
.btn-cta,
.carousel-btn,
.btn-voyage {
  background: #2563EB;
  color: #fff;
  padding: 9px 14px;
  border-radius: 6px;
  font-size: 13px;
  display: inline-block;
  text-decoration: none;
}


.hero-img img {
  width: 420px;
  border-radius: 8px;
  margin-left: 10em;
}

.carousel {
    margin: 60px 0 0 150px;
    max-width: 900px;  
    border: 2px solid #1E3A8A;
    border-radius: 10px;
    padding: 30px;
}

.carousel-titre h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
}

.carousel-img {
  width: 100%;
  height: 250px;      
  object-fit: cover;  
  border-radius: 8px;
  margin-bottom: 20px;

}

.carousel-carte h3 {
    margin-bottom: 10px;
}

.carousel-carte {
  width: 100%;
  text-align: center;
}

.carousel-btn{
    text-align: center;
}

.services {
  margin-top: 40px;
}

.services-titre h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 16px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  height: 200px;
  width: 80%;
  margin-left: 10%;
}

.service-carte {
  border: 2px solid #1E3A8A;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.service-icon {
  margin-bottom: 10px;
  font-size: 12px;
}

.service-carte h3 {
  margin-bottom: 8px;
  font-size: 14px;
}

.service-carte p {
  font-size: 14px;
}

.cta {
  margin-top: 35px;
  text-align: center;
}

.cta h2 {
  font-size: 25px;
  margin-bottom: 12px;
}




